.icon-carito{
    display: flex;
    float: right;
    margin-bottom: 100px;
}

.icon-carito img{
    width: 50px;
}

#contitems{
    color: #ff0000;
}

#mostrarCarrito{
    position: absolute;
    float: right;
    right: 0;
    width: 23%;
}